body {
    background-color: #efefef;
}

.main {
    margin: 50px 40px 50px 100px;
    background-color: white;
}

.btn_publish {
    float: right;
    margin-bottom: 20px;
}

.meidia-object {
    width: 50px;
    height: 50px;
}

.meidia-body {
    padding-top: 0;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 30px;
}

.community-menu {
    color: #999;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}

.jumbotron {
    margin-left: 100px;
}

.comment {
    margin: 15px 0;
}

.sub-comments {
    border-radius: 5px;
    border: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
margin: 10px 0;
}

.question_title {
    margin-top: 12px;
}

.question_sp {
    margin-top: 0;
}
.question-tag{
    margin-right: 10px;
    font-size: 13px;
}
.question-related{
    line-height: 24px;
    font-size: 15px;
    padding-left: 0;
    list-style: none;
}
.question-related a:hover{
    color: #499ef3;
}
.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #eea236;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.menu .active {
    color: #499ef3;
}
