<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - SpringBoot社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{navigation :: copy}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 ">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" id="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题 (简单扼要)</label>
                    <input autocomplete="off" type="text" name="title" th:value="${title}" class="form-control"
                           id="title" placeholder="简单标题....">
                </div>
                <div class="form-group">
                    <label for="description">问题补充 (必填,请参考右侧提示);</label>
                    <textarea id="description" name="description" th:text="${description}" class="form-control"
                              cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" autocomplete="off" class="form-control" th:value="${tag}" id="tag" name="tag"
                           placeholder="输入标签,以;隔开" onclick="showSelectTag()" onmouseleave="dispareSelectTag()">
                </div>
                <div id="select-tag" class="question-tag-tag">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:class="${selectCategoryStat.first ? 'active':''}"
                            th:each="selectCategory:${tags}">
                            <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                               data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" th:each="selectCategory: ${tags}"
                             th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}"
                             th:id="${selectCategory.categoryName}">
                            <span>
                                    <span th:each="selectTag: ${selectCategory.tags}">
                                        <span class="question-tag" onclick="addtag(this)"
                                              th:data-tag="${selectTag}"
                                              th:text="${' '+selectTag}">
                                        </span>
                                    </span>
                            </span>
                        </div>
                    </div>

                </div>
                <span class="alert alert-danger" role="alert" th:if="${error !=null}" th:text="${error}"></span>
                <button type="submit" class="btn btn-success btn_publish">发布</button>
            </form>
        </div>
        <div class="col_lg_3 ">
            <h3>问题发布指南</h3>
            <div>• 问题标题：请用精简的语言描述您发布的问题，不超过25字</div>
            <div>• 问题补充：详细补充您的问题内容，请确保问题描述清晰直观</div>
            <div>• 问题标签：选择一个或多个合适的标签，用逗号隔开，每个标签不超过十个字</div>
        </div>
    </div>
</div>
</body>
</html>
